.popover {
    width: 8rem;
}

.popover-body {
    padding: 0;
}
.popover-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 .3rem;
    /* margin: .2rem; */
    /* background-color: var(--light); */
    font-size: .8rem;
    font-weight: bolder;
    /* text-transform: none;
    border: solid 1px #c2c2c2;
    color: var(--dark); */
}