.vis-grid-item-control {
  position: absolute;
  /* border-radius: 4px; */
  right:0;
  top:0;
  /* border-radius: 0 0 4px 4px; */
}

.vis-grid-item-control > .btn {
  width: 1.5rem;
  height: 1.5rem;
  font-size: .8rem;
  padding: 0;
  border-radius: 0;
}
