/* VisDataTable customized style */

.evenRow {
  background-color: #ffffff;
  border-bottom: #d1d1d1 1px dotted;
}
.oddRow {
  background-color: #f9f9f9;
  border-bottom: #d1d1d1 1px dotted;
}

.ReactVirtualized__Table {
  font-size: 0.8rem;
  display: inline-block;
}

.ReactVirtualized__Table__headerColumn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--light);
  font-size: 0.8rem;
  text-transform: none;
  outline: none;
}

.ReactVirtualized__Table__headerRow {
    border-bottom: 1px solid #d1d1d1;
}

.ReactVirtualized__Table__rowColumn {
  flex-direction: row;
  display: flex;
  justify-content: center;
  color: var(--dark);
  cursor: default;
}

.ReactVirtualized__Table__headerTruncatedText {
  flex: auto;
}

.DragHandle {
  flex: 0 0 16px;
  z-index: 2;
  cursor: col-resize;
  /* color: #0085ff; */
  color: var(--dark);
}
.DragHandle:hover {
  background-color: #eeeeee;
}

.DragHandleActive,
.DragHandleActive:hover {
  color: var(--dark);
  z-index: 3;
}

.DragHandleIcon {
  flex: 0 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* custom tips  */
.bs-tooltip-top .arrow::before {
  top: -1;
  border-width: .5rem .5rem 0;
  border-top-color: var(--light);
}
.bs-tooltip-bottom .arrow::before {
  bottom: -1;
  border-width: 0 .5rem .5rem;
  border-bottom-color: var(--light);
}
.bs-tooltip-right .arrow::before {
  right: -1;
  border-width: .5rem .5rem 0 .5rem;
  border-right-color: var(--light);
}
.bs-tooltip-left .arrow::before {
  left: -1;
  border-width: .5rem 0 .5rem 0.5rem;
  border-left-color: var(--light);
}

/* .tooltip.show {
  opacity: 1;
  
} */

.tooltip .tooltip-inner {
  color:var(--dark);
  font-size: .8rem;
  font-weight: bolder;
  background-color: var(--light);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/* .setting {

} */

