body{
  min-width: 500px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
h1{
    color:red
}
.whitetext{
  color:white !important;
}
.vis{
  overflow: scroll;
  object-fit: contain;
}

.viscol{
  overflow: scroll;
  object-fit: contain;
}

.nodisplay{
  display: none;
}

.grid {
  column-count: auto;
  column-width: 400px;
  column-gap: 10px;
}

.blue-bar {
  background-color: #2e86de;
}

#count1{
  margin-bottom: 0;
}


.layout {
  border:2px solid #000;
}
.view {
  border:1px solid #896cf4;
  flex-direction: column;
  display: flex;
  /* text-align: center;
  align-content: center;
  align-items: center;
  
  align-items: center; */
}

.draggable-handle {

  width: 100%;
  height: 20px;
  background-color: aqua;

}
.view-content {
  width: 100%;
  flex: 1;
  background-color: aliceblue;
}

.react-grid-item.react-grid-placeholder {
  background: none;
  border: grey 3px dashed;
  opacity: 1;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.progress {
  height: 1rem;
}
.progress-bar {
  font-weight: bold;
  text-shadow: rgb(0 0 0) -1px -1px 0px, rgb(0 0 0) 1px -1px 0px, rgb(0 0 0) -1px 1px 0px, rgb(0 0 0) 1px 1px 0px;
  overflow: visible;
}
.btn, .btn:focus{
  box-shadow: none !important;
}
