.vis-grid-view {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}
.react-grid-item {
    box-sizing: border-box;
    border: 1px solid #0984e3;
}