@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

#title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 44px;
  color: #152536;
}
.settings-label {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  color: #152536;
}
