/*facet-terms-aggregation.css*/


.field-selection-panel {
    z-index: 100;
	position: relative;
	border-bottom: 2px solid #84817a;
}

.flex-row {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    outline: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    outline: none;
}

/* Header START */
.field-selection-panel .header {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	position: relative;
	outline: none;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    color: #005083;
    font-size: 1.7rem;
    font-weight: bold;
    /* cursor: pointer; */
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.field-selection-panel .header .title {
    cursor: pointer;
}

.field-selection-panel .header span i {
    width:1.5rem;
    text-align:center;
}

.field-selection-panel .header div.tail i,
.field-selection-panel .operation i {
    text-align: center;
    padding: .3rem;
}


.field-selection-panel .header i.fa.fa-search,
.field-selection-panel .header i.fa.fa-ellipsis-h,
.field-selection-panel .header i.fa.fa-undo,
.field-selection-panel .header i.fa.fa-times,
.field-selection-panel .search i.fa.fa-times,
.field-selection-panel .operation i.fa  {
 color:#6B6260;
}

.field-selection-panel .header i.fa.fa-search:hover,
.field-selection-panel .header i.fa.fa-ellipsis-h:hover,
.field-selection-panel .header i.fa.fa-undo:hover,
.field-selection-panel .header i.fa.fa-times:hover,
.field-selection-panel .search i.fa.fa-times:hover,
.field-selection-panel .operation i.fa:hover {
    cursor: pointer;
    color:#337ab7;
}

.field-selection-panel .header i.fa.fa-ellipsis-h:hover::before,
.field-selection-panel .header i.fa.fa-search:hover::before,
.field-selection-panel .header i.fa.fa-undo:hover::before,
.field-selection-panel .header i.fa.fa-times:hover::before,
.field-selection-panel .search i.fa.fa-times:hover::before,
.field-selection-panel .operation i.fa:hover::before {
	text-shadow: rgba(144, 144, 144, 0.62) 0px 0px 7px;
}
/* Header END */

/* search panel START */
.field-selection-panel .search,
.field-selection-panel .operation {
    padding: 0 0 .5rem 1.5rem;
	display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    outline: none;
}
.field-selection-panel .operation {
    font-size: 1.3rem;
    line-height: 1.5;
}
.field-selection-panel .operation i.fa {
    font-size: 1.5rem;
}

.field-selection-panel .search .search-input {
	width: 100%;
    min-width: 0px;
    height: 2.5rem;
    padding: .6rem 1.2rem;
    font-size: 1.4rem;
    line-height: 1.42857;
    color: #555555;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    border-radius: 4px;
    margin-bottom: 6px;
    outline: none;
}
.field-selection-panel .search .search-input:focus,
.field-selection-panel .search .search-input:active {
    border: 2px solid #337ab7;
}

.field-selection-panel .search .close {
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    padding: .6rem;
    transition: all 0.3s ease 0s; 
    outline: 0;
    cursor: pointer;
}
/* search panel END */


/* operation panel START */
.field-selection-panel .operation span {
    font-weight: bold;
}
.field-selection-panel .operation label {
    cursor: pointer;
}
/* operation panel END */



.field-selection-panel .footer a {
   float: right;
   text-decoration: none;
   font-size: 1.5rem;
   color:#337ab7;
   cursor: pointer;
}

.field-selection-panel .footer a:hover,
.field-selection-panel .footer a:focus {
    color: #23527c;
}

.facet-header .operators {
	display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    outline: none;

    /* */
    color: #6B6262;
    line-height: 1.48px;
    font-size: 1.2em;
}

.terms-aggregation {
	display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    outline: none;
    text-align: center;
}




.terms-aggregation span.tip {
    font-size: 1.3rem;
    color: #ff0000;
    font-weight: bold;
    padding: 0.5rem;
}


/* .terms-list {
	display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    outline: none;	
} */

.term {
    font-size: 1.4rem;
	display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    outline: none;
    /* style */
    padding: 0.3rem 0px;
}

.term-head {
	color: rgb(36, 36, 36);
    text-decoration: none;
    -webkit-box-align: center;
    min-width: 0px;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.term-head label {
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
    overflow: hidden;
    padding: 0 0.25rem;
    margin-left: 0.3rem;
    vertical-align: middle;
}
.term-tail {
	margin-left: auto;
    background-color: #5B5151;
    font-size: 1rem;
    color: white;
    padding: 0.2em 0.6em 0.3em;
    border-radius: 0.25em;
    font-weight: bold;
    height: 2rem;
    cursor: pointer;
}

.term-list-toggle {
	display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    outline: none;

    padding: 0.5rem;
}

.term-toggle-text {
	margin-left: auto;
    color: #6B6245;
    font-size: 1.2rem;
    cursor: pointer;
}

.content-footer a {
    float: right;
    text-decoration: none;
    font-size: 1.5rem;
    color:#337ab7;
    cursor: pointer;
 }
 .content-footer a:hover,
 .content-footer a:focus {
     color: #23527c;
 }




