.vis-grid-item-header {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  position: relative;
  /*border-radius: 5px;*/
}

.name-header {
  align-items: center;
  vertical-align: middle;
  padding: 0 0.5rem;
  height: 1.5rem;
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left !important;
  font-weight: bold;
}

.draggable {
  cursor: move;
}
