.vis-grid-item {
    flex-direction: column;
    position: relative;
    display: flex;
    height: 100%;
}
.place-holder {
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.chart-area {
    color:#c4c3d1;
    height: 45%;
    width: 45%;
}