.og {
    fill: #2467A8;
    opacity: 1;
}
.ft {

    fill: #51A6FA;
    opacity: 1;
}

.slide.selected {
    stroke-width: 3;
    fill-opacity: 1;
    stroke: #C0C0C0; /* silver */
}

circle.brushed {
    fill: #87CEEB; /* SkyBlue */
    stroke: #4682B4; /* SteelBlue */
    opacity: .8;
}

circle.non_brushed {
    fill: #C0C0C0C0; /* Silver */
    stroke: #000000; /* Black */
    opacity: .2;
}

text.label {
    font-size:12px;
}

.ReactVirtualized__Table__headerRow {
    font-weight: 400;
    color: #888;
}

.tick:not(:first-of-type) line {
    stroke: #c0c0c0;
    stroke-dasharray: 1;
    stroke-opacity: 1;
}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.bg-light {
    background-color: #1a1a1a!important;
}

.border {
    border: 0px solid #dee2e6!important;
}

body {
    color: #bbbbbb;
    background-color: #111111;
}
