.og {
    fill: #87CEFA; /* LightSkyBlue */
    opacity: 1;
}
.ft {
    /* fill: #B0C4DE; LightSteelBlue */
    fill:#4682B4; /* SteelBlue */
    opacity: 1;
}


.slide.selected {
    stroke-width: 3;
    fill-opacity: 1;
    stroke: #C0C0C0; /* silver */
}

circle.brushed {
    fill: #87CEEB; /* SkyBlue */
    stroke: #4682B4; /* SteelBlue */
    opacity: .8;
}

circle.non_brushed {
    fill: #C0C0C0C0; /* Silver */
    stroke: #000000; /* Black */
    opacity: .2;
}

/* VisDataTable customized style */
.tables-module__headerRow {
    border-bottom: 1px solid #d1d1d1;

}
